{% extends "layout.html" %}
{% block title %} user_confirm {% endblock %}
{% block link %} / {% endblock %}
{% block main %}
<div class="box15 underline" style="margin-left: auto; margin-right: auto; text-align: center; height: auto !important;">
    <div class="head12" style="vertical-align: middle;">Order Confirmed</div>
</div>
<hr class="spliter1">
<div class="center" style="text-align: center; margin-top: 36px;">
    <div class="head3">Insurance policy will be delivered to you in 3 days</div>
    <div class="head10" style="margin-top: 2px;">Thank you for your order</div>
</div>
<div class="center" style="text-align: center; margin-top: 120px; margin-bottom: 15px;">
    <button type="button" class="btn color-custom formbox9 head5 rounded2" style="margin-bottom: 15px;" onclick="returnmain()">Return To Home Page</button>
</div>
{% endblock %}